
input {
    margin: 0;
    position: center;
    align-items: center;
    width: 375px;
    padding: 12px 0px 15px 0px;
    float: right;
    font-size: 16px;
    border: transparent;

}

#lbl {
    position: absolute;
    left: 14px;
    top: 15px;
    font-size: 25px;

    transform-origin: right;
    -ms-transform: rotate(90deg);
    -ms-transform-origin:right;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:right;

}

#header1 {

    position: relative;
    left: 140px;
    color: rgba(100, 0, 0, 0.5);
    font-size: 100px;
    /*font-family: Arial;*/
    font-style: italic;
    margin: 0;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

ul form input {
    width: 30px;
    height: 30px;
}



.completed {
    text-decoration: line-through;
    color: red;
}

.footer {
    position: relative;
    margin: 0px;

    text-align: left;
    height: 50px;
    width: 425px;

    float: left;
    background: white;
    border: 1px solid darkgray;
}

footer span {
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

footer ul{
    padding-left: 110px;
    padding-top: 15px;
}
.lineTemplate {
    height: 50px;
    width: 425px;
    float: left;
    font-size: 16px;
    border: 1px solid darkgray;
    position: relative;
    background: white;
}

li {
    display: inline;
    margin: 5px;
    position: relative;
    left: 30px;
}

a {
    text-decoration: none;
}

#jj {
    width: 100px;
    overflow: auto;
    height: auto;
    position: relative;
    left: 10px;
    top: 5px;
}

#h{
    padding: 10px;
}

#myInput{
    position: relative;
    top: 3px;
    border: none;
    outline: none;
}

