

input {
    margin: 0;
    position: center;
    align-items: center;
    width: 75%;
    padding: 12px 8px 12px 40px;
    float: left;
    font-size: 16px;
    background: antiquewhite;

}

ul {
    margin: 0;
    padding: 0;
}

.center {
    /*float: none;*/
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

ul form input {
    width: 30px;
    height: 30px;
}

ul{
    list-style: none;
}

.completed{
    text-line-through: single;
    color: red;
}
.footer {
    margin: 0;
    position: center;
    text-align: center;
    padding: 12px 8px 12px 40px;
    background: antiquewhite;
    width:75%;
    float: left;
}


.lineTemplate {
    margin: 0;
    width: 75%;
    padding: 12px 8px 12px 40px;
    float: left;
    font-size: 16px;
    background: antiquewhite;
    border-bottom: 1px solid black;

}