
* {
    box-sizing: border-box;
}

input {
    margin: 0;
    position: center;
    align-items: center;
    width: 75%;
    padding: 12px 8px 12px 40px;
    float: left;
    font-size: 16px;
    background: antiquewhite;

}

ul {
    margin: 0;
    padding: 0;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

ul li {
    list-style: none;

}

ul form input {
    width: 30px;
    height: 30px;

}


.lineTemplate {
    width: 75%;
    padding: 12px 8px 12px 40px;
    float: left;
    font-size: 16px;
    background: antiquewhite;
}

