<div class="center">
    <div>
        <h3 id="header1">todo</h3>

        <form class="lineTemplate" id="userInput">
            <label id="lbl">
                <a (click)="onCursorClickMarkList()"
                   [ngStyle]="{ opacity:( list.length === completedList.length && list.length !== 0) ? '1' : '0.5'}"
                >
                    ❯
                </a>
            </label>
            <input type="text"
                   id="myInput"
                   placeholder="what need to be done?"
                   autocomplete="off"
                   (keyup.enter)="onGetInput()"
            >
            <!--bugFix-->
            <input type="text" style="visibility: hidden">
        </form>
        <br>
        <ul>
            <form class="todoTemplate" *ngFor=" let todo of presentedList;let i = index"
                  (mouseover)="onMouseOverAddX(i)"
                  (mouseout)="onMouseNotOverRemoveX(i)">
                <div class="row">
                    <input  class="rowItems" [checked]="todo.completed" type="checkbox" id="{{'label-' + i}}" (click)="change(i)">
                    <label  class="rowItems" id="todoInput" [ngClass]="{completed : todo.completed  }" for="{{'label-' + i}}"> {{
                        todo.text}}</label>
                    <button class="rowItems" [ngStyle]="{opacity: todo.xFlag ? 0.7 : 0}" class="destroy" (click)="onClickDeleteTodo(i)">x
                    </button>
                </div>
            </form>
            <br>
        </ul>
        <footer class="footer" *ngIf="list.length">
            <span *ngIf="activeList.length <= 1">{{activeList.length}} item left</span>
            <span *ngIf="activeList.length > 1">{{activeList.length}} items left</span>
            <ul>
                <li>
                    <a href="#/" (click)="onClickShowAll()" class="buttonLi"
                       [ngClass]="{clicked: buttonNum === 1}"
                    >
                        All
                    </a>
                </li>
                <li><a href="#/" (click)="onClickShowActive()" class="buttonLi"
                       [ngClass]="{clicked: buttonNum === 2}">Active</a></li>
                <li><a href="#/" (click)="onClickShowCompleted()" class="buttonLi"
                       [ngClass]="{clicked: buttonNum === 3}">Complete</a>
                </li>
                <li *ngIf="completedList.length > 0"><a href="#/" (click)="onClickClearCompleted()" id="clear">Clear
                    Completed</a></li>
            </ul>

        </footer>
    </div>

</div>



